<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="{{ @ENCODING }}">
    <title>El Cosmonauta :: ADMIN</title>
    <!-- Icons -->
    <link rel="shortcut icon" type="image/ico" href="{{@BASE_URL}}favicon.ico">
    <link rel="shortcut icon" type="image/ico" href="{{@BASE_URL}}favicon.png">
    <link href="{{@BASE_URL}}/admin/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{@BASE_URL}}/admin/css/extra.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{@BASE_URL}}/admin/js/bootstrap.min.js"></script>
  </head>

  <body style="padding-top:60px;">

    <include if="{{ isset(@tem_content) }}" href="{{ @tem_content }}" />

  </body>
</html>