<section class="terminos">
  <div class="lightbox">
    <div class="header">
      <span><br/>{{@dict_com_licenses}}</span>
    </div>
    <div class="content">
      <article class="margin">
        <div>
          <p>Una guía de todo lo que puedes hacer con el material de “El Cosmonauta”.</p>
          <h3><strong>1. El largometraje</strong></h3>
          <p>El largometraje se publica bajo licencia Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
          <p>Lo que puedes hacer: COPIARLO y EXHIBIRLO</p>
          <p>Lo que debes hacer: Citarnos siempre como autores de la obra original (indicando como origen “El Cosmonauta” y la URL “cosmonautexperience.com”). Lo que no puedes hacer: Tener lucro (sin consultarnos antes) y/o crear obras derivadas utilizando el material.</p>
          <p>PERO, la inclusión del PLUS al final de la licencia indica que hay algunos usos adicionales que sí permitimos.</p>
          <p>PLUS</p>
          <p>- Lucro:</p>
          <p>La licencia que hemos empleado permite usos no comerciales de todo tipo (puedes organizar proyecciones para mostrar la película, copiarla en cualquier formato, compartirla en las redes sociales...) y también puedes hacer un USO LUCRATIVO siempre que nos consultes previamente.</p> 
          <p>- Obra derivada (remezcla):</p>
          <p>El único motivo por el que la licencia de la película oficial no permite obra derivada es porque la película contiene algunas canciones e imágenes de archivo con copyright de las que sólo poseemos los derechos de distribución pero no los de modificación y debemos respetar el copyright ajeno. Todo el resto del material (del que sí poseemos los derechos) tiene en realidad una licencia BySaNc que sí permite remezcla.</p> 
          <p>Por tanto, puedes modificar y crear obras nuevas de todo el material excepto del que detallamos a continuación:</p>

          <p><strong>MÚSICA</strong> (aunque no puedes utilizar estas canciones SÍ PUEDES utilizar las imágenes que las acompañan siempre y cuando las ilustres con otro sonido):</p>
          <ul>
						<li><strong>“Cosmos I”</strong>,  Written by Fernando Corona; Performed by Murcof; Taken from the album "Cosmos" Published by District 6 Music Publishing Ltd; Courtesy of The Leaf Label & District 6. Minutos: de 0:00:40 a 0:05:12; y de 0:06:44 a 0:08:37.</li>
						<li><strong>“Lament”</strong>, Composer: Joan Valent | Ara Maliklan; Album: Ínsula Poética. De 0:10:15 a 0:11:24; y de nuevo de 0:11:57 a 0:12:16</li>
						<li>(P) 1964. J.S. Bach: 1. Chorus: <strong>"Herr, unser Herrscher"</strong> [St. John Passion, BWV 245 / Part One] Performed by: Münchener Bach-Orchester, Münchener Bach-Chor. Conductor: Karl Richter POR CORTESÍA DE UNIVERSAL MUSIC SPAIN, S.L. Minutos desde 0:12:40 a 0:15:13.</li>
						<li><strong>“Urfa”Composer</strong>: Joan Valent | Ara Maliklan; Album: Ínsula Poética. Desde 0:24:52 hasta 0:27:27. De nuevo suena desde el 0:28:32 a 0:30:54</li>
						<li>Biosphere  - <strong>“Freeze Frames”</strong>; Written and performed by Geir Jenssen; Published by Touch Music [MCPS]; www.biosphere.no. MInutos desde 0:58:53 a 1:00:34</li>
						<li><strong>“Pangeae”</strong> Composer: Joan Valent | Ars Ensemble. Minutos desde 01:01:11 hasta 01:05:00.</li> 
						<li><strong>“Ínsula Poética”</strong> Composer: Joan Valent | Ara Maliklan;  Album: Ínsula Poética. Minutos de 01:05:02 a 01:09:55</li>
						<li><strong>“Santana”</strong> Composer: Joan Valent | Ara Maliklan; Album: Ínsula Poética, Minutos de 01:10:58 hasta 01:13:30</li>
					</ul>
					<br/>

          <p><strong>IMÁGENES:</strong></p>
          <p>Todas las imágenes en donde sale material de archivo correspondientes a la primera secuencia de la película no pueden ser utilizadas a no ser que obtengas permiso de los dueños de los derechos o sus distribuidores (muchas de las imágenes aparecen incrustadas en un televisor. Recuerda que si sustituyes las imágenes dentro del televisor sí podrás hacer uso del resto de la imagen).</p> 
          <ul>
            <li>Imágenes que aparecen en la televisión de fondo en los timings: 00:01:00 a 00:01:27. Puedes usar todo menos lo que está insertado en esta televisión. Para consultar sobre el uso de derechos de las siguientes imágenes contacta con la NASA o FOOTAGE VAULT.</li> 
						<li>Imágenes que aparecen en la televisión de fondo en los timings: 00:01:29 a 00:02:04. Puedes usar todo menos lo que está insertado en esta televisión. Para consultar sobre el uso de derechos de las siguientes imágenes contacta con la NASA o FOOTAGE VAULT.</li> 
						<li>Imágenes que aparecen en la televisión de fondo en los timings: 00:04:56 a 00:05:46. Puedes usar todo menos lo que está insertado en esta televisión. Para consultar sobre el uso de derechos de las siguientes imágenes contacta con la NASA o FOOTAGE VAULT. </li>
						<li>Imágenes que aparecen a pantalla completa tras fundido de la televisión desde 00:05:46 a 00:06:17. Puedes usar todo menos lo que está insertado en esta televisión. Para consultar sobre el uso de derechos de las siguientes imágenes contacta con la NASA o FOOTAGE VAULT.</li> 
          </ul>
          <br/>

          <h3>2. Los Webisodios</h3>
					<p>Denominamos webisodios al material de ficción publicado en el apartado “Film Universe” de la web, y en el apartado “webisodios” del DVD y el USB. </p>
					<p>Cada webisodio se publica bajo una licencia diferente dependiendo de su contenido. Siempre que no existen obras ajenas a nosotros el webisodio tiene una licencia BY NC SA. En el resto de casos el webisodio tiene una licencia BY NC ND Plus ya que, exceptuando las imágenes de archivo que se especifican y las canciones de autores ajenos a nosotros, el resto de imágenes y sonidos sí que permiten su modificación pero debes consultar cada caso por separado.</p> 
					<p>Lo que puedes hacer: COPIARLO y EXHIBIRLO</p>
					<p>Lo que debes hacer: Citarnos siempre como autores de la obra original (indicando como origen “El Cosmonauta” y la URL “cosmonautexperience.com”)</p>
					<p>Lo que no puedes hacer: Tener lucro (sin consultarnos antes) y/o crear obras derivadas utilizando el material.</p>
					<p>PERO, la inclusión del PLUS al final de la licencia indica que hay algunos usos adicionales que sí permitimos.</p>
					<p>Aquí tienes una guía de licencias de cada webisodio (los timings se corresponden a los webisodios publicados en la página web http://cosmonautexperience.com):</p>

          <h4>1. “THE OKBS”</h4><br/>
          <p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
          <p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
          <p>El tema musical que la acompaña es BY NC SA, <a href="http://www.jamendo.com/es/track/672448/silent-thoughts" target="_blank">“Silent Thoughts”, de Alexander Franke</a>.</p>
          <p>PLUS</p>
          <p>Puedes realizar obra derivada tomando el episodio como base (imagenes, audio, música) excluyendo siempre la imagen de la centrifugadora de entrenamiento (2:15), que forma parte de una cesión con copyright. Recuerda que la obra derivada se sujeta a la licencia BY NC SA.</p>

          <h4>2. THE GOOD OLD DAYS I</h4><br/>
          <p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
          <p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
          <p>PLUS</p>
          <p>Puedes realizar obra derivada tomando el episodio como base (imágenes, audio, música) excluyendo el tema musical <a href="http://www.sovmusic.ru/english/download.php?fname=ya_veru" target="_blank">"I believe, my friends” de Oskar Feltsman</a> que suena de 01.04 a 03.50.</p>

          <h4>3. THE GOOD OLD DAYS II</h4><br/>
          <p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
          <p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>

          <h4>4. THE GOOD OLD DAYS III</h4><br/>
          <p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
          <p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>

          <h4>5. THE GOOD OLD DAYS IV</h4><br/>
          <p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
          <p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>

          <h4>6. THE MOON LANDING</h4><br/>
          <p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
          <p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
          <p>PLUS</p>
          <p>Puedes realizar obra derivada tomando el episodio como base (imágenes, audio, música) excluyendo las siguientes partes:</p>
          <p>- Música: los dos temas musicales del episodio (exceptuando la música de apertura y cierre de créditos), “Shampoo Party Zone” (de KP Devlin, Copyright) y “Ballads don’t change things” (de Remate, editada por Mushroom Pillow, Copyright).</p>
          <p>- Imágenes: las imágenes de archivo que forman parte del archivo audiovisual de FOOTAGE VAULT, a quienes deberás pedir permiso expresamente para utilizarlas. Las imágenes que no puedes utilizar bajo la licencia BY NC SA son las que se encuentran entre los siguientes códigos de tiempo: 00.34 a 01.30, 01.36 a 01.46, 03,15 a 03.29</p>
          <p>Recuerda que la obra derivada que realices se sujeta a la licencia BY NC SA.</p>

          <h4>7. BONDARENKO</h4><br/>
          <p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
          <p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>

          <h4>8. SECRET CONVERSATIONS I</h4><br/>
          <p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
          <p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>

          <h4>9. SECRET CONVERSATIONS II</h4><br/>
          <p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
          <p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>

          <h4>10. TANAZIOV</h4><br/>
          <p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
          <p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>

          <h4>11. KOMAROV</h4><br/>
          <p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
          <p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
          <p>PLUS</p>
          <p>Puedes realizar obra derivada tomando el episodio como base (imagenes, audio, música) excluyendo la música del episodio (exceptuando la música de apertura y cierre de créditos): “Insula Poética”, de Joan Valent (Copyright, Warner Music Spain S.A.).</p>
          <p>Recuerda que la obra derivada que realices se sujeta a la licencia BY NC SA.</p>

          <h4>12. UNDERWATER</h4><br/>
          <p>La licencia es BY SA Reconocimiento – CompartirIgual 3.0</p>
          <p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>

					<h4>13. RADIO HOOLIGANS</h4><br/>
					<p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
					<p>PLUS</p>
					<p>Puedes realizar obra derivada tomando el episodio como base (imágenes, audio, música) excluyendo la música del episodio (exceptuando la música de apertura y cierre de créditos): “Momia Twist”, de Wau y los Arrrghs (Copyright 2008 Voodoo Rhythm Records)</p>
					<p>Recuerda que la obra derivada que realices se sujeta a la licencia BY NC SA.</p>
					
					<h4>14. WALLS HAVE EARS</h4><br/>
					<p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
					<p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>
					
					<h4>15. TRIANGLE</h4><br/>
					<p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
					<p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>
					
					<h4>16. A CORRECTION</h4><br/>
					<p>La licencia es BY SA Reconocimiento – CompartirIgual 3.0</p>
					<p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>
					
					<h4>17. CONSPIRACY</h4><br/>
					<p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
					<p>PLUS</p>
					<p>Puedes realizar obra derivada tomando el episodio como base (imagenes, audio, música) excluyendo las siguientes partes:</p>
					<p>- Música: el temas musical “Morning Walking”, de Harold Azmed, que suena de 00.36 a 05.48, cuya licencia es BY NC ND</p>
					<p>- Imágenes: las imágenes de archivo que forman parte de compras y cesiones. Las encuentras entre los siguientes minutos: 00.42 a 01.50, 02.04 a 02.20, 02.33 a 02.50, 02.57 a 04.26, 05.34 a 05.39  y las pantallas izquierda y central del montaje múltiple que hay entre 08.40 y 08.57.</p>
					<p>Recuerda que la obra derivada que realices se sujeta a la licencia BY NC SA.</p>
					
					<h4>18. BLIND</h4><br/>
					<p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
					<p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>
					
					<h4>19. PORTRAITS</h4><br/>
					<p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
					<p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>
					
					<h4>20. SUNDAY BALLROOM</h4><br/>
					<p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
					<p>PLUS</p>
					<p>Puedes realizar obra derivada tomando el episodio como base (imagenes, audio, música) excluyendo el tema musical "Sole accordion" de B. Mokrousov, que suena en todo el episodio exceptuando en el opening.</p>
					<p>Recuerda que la obra derivada que realices se sujeta a la licencia BY NC SA.</p>
					
					<h4>21. THE MESSAGE</h4><br/>
					<p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
					<p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>
					
					<h4>22. INDUCTION PARTY</h4><br/>
					<p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
					<p>PLUS</p>
					<p>Puedes realizar obra derivada tomando el episodio como base (imagenes, audio, música) excluyendo ell tema musical "Hasta siempre comandante", de Carlos Puebla (Copyright de Carlos Puebla), que suena de 01.13 hasta el final del episodio.</p>
					<p>Recuerda que la obra derivada que realices se sujeta a la licencia BY NC SA.</p>
					
					<h4>23. BOOSTERS</h4><br/>
					<p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
					<p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>
					
					<h4>24. WHY THE MOON</h4><br/>
					<p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
					<p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>
					
					<h4>25. THE RITUAL</h4><br/>
					<p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
					<p>PLUS</p>
					<p>Puedes realizar obra derivada tomando el episodio como base (imagenes, audio, música) excluyendo el tema musical "Morning song" de Andrey Sokolov, que suena en todo el episodio exceptuando en el opening, y el extracto de “El blanco sol del desierto” que se muestra en la pantalla de televisión entre los minutos 01.30 a 01.37, propiedad de Mosfilm y utilizada con propósitos documentales.</p>
					<p>Recuerda que la obra derivada que realices se sujeta a la licencia BY NC SA.</p>
					
					<h4>26. KOLIBRI</h4><br/>
					<p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
					<p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>
					
					<h4>27. NARROWEST HINGE</h4><br/>
					<p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
					<p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio. El tema musical es "Isolation" de Blind with Rain (BY SA NC, FK DigitalRecords).</p>
					
					<h4>28. NORTHERN LIGHTS</h4><br/>
					<p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
					<p>PLUS</p>
					<p>Puedes realizar obra derivada tomando el episodio como base (imagenes, audio, música) excluyendo el tema musical "Arise" de MuOM (Copyright MuOM), que se extiende desde el principio hasta el final del capítulo.</p>
					<p>También has de excluir las imágenes que se encuentran entre  el minuto 02.45 y el  02.55</p>
					<p>Recuerda que la obra derivada que realices se sujeta a la licencia BY NC SA.</p>
					
					<h4>29. TRAVELING TO THE MOON</h4><br/>
					<p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
					<p>PLUS</p>
					<p>Puedes realizar obra derivada tomando el episodio como base (imagenes, audio, música) excluyendo el tema musical "Arise" de MuOM (Copyright MuOM), que suena entre los minutos 04.25 y 06.00.</p>
					<p>Recuerda que la obra derivada que realices se sujeta a la licencia BY NC SA.</p>
					
					<h4>30. SPACE CHESS</h4><br/>
					<p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
					<p>Por una errata aparece indicada como BY SA NC Plus.</p>
					<p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>
					
					<h4>31. REENTRY</h4><br/>
					<p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
					<p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>
					
					<h4>32. SMALL ACCIDENT</h4><br/>
					<p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
					<p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>
					
					<h4>33. NEW YEAR’S EVE</h4><br/>
					<p>La licencia es BY SA NC Reconocimiento – CompartirIgual – NoComercial 3.0</p>
					<p>Puedes copiarlo, exhibirlo y remezclarlo (realizar obras derivadas) sin hacer uso lucrativo y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). Debes licenciar de la misma manera las nuevas obras que generes. La licencia aplica a música, vídeo y audio.</p>
					
					<h4>34. ICAROPHOBIA</h4><br/>
					<p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
					<p>PLUS</p>
					<p>Puedes realizar obra derivada tomando el episodio como base (imagenes, audio, música) excluyendo el tema musical "Let My Prayer Arise" del Coro Slavyanka (Copyright Slavyanka, 1992) que suena en todo el episodio (salvo en el opening).</p>
					<p>Recuerda que la obra derivada que realices se sujeta a la licencia BY NC SA.</p>
					
					<h4>35. MYTHS OF THE NEAR FUTURE</h4><br/>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>36. THE MOON FILES</h4><br/>
					<p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
					<p>PLUS</p>
					<p>Puedes realizar obra derivada tomando el episodio como base (imagenes, audio, música) excluyendo los temas musicales “Let My Prayer Arise” del Coro Slavyanka (Copyright Slavyanka, 1992) que suena de 05.29 a 09.40 y el tema original de Stalker (propiedad de Edvard Artemyev) que suena desde el minuto 13.14 hasta el 15.20. Omite también las imágenes del Apollo que acompañan al título del episodio (00.35-00.42)</p>
					<p>Recuerda que la obra derivada que realices se sujeta a la licencia BY NC SA.</p>

          <h3>3. Eastern Eggs</h3><br/>
					<p>Denominamos Eastern Eggs al material de ficción o documental publicado en el apartado “Tras las cámaras” de la web, y en el apartado “Eastern Eggs” del USB.</p> 
					<p>Cada webisodio se publica bajo una licencia diferente dependiendo de su contenido. Siempre que no existen obras ajenas a nosotros el webisodio tiene una licencia BY NC SA. En el resto de casos el webisodio tiene una licencia BY NC ND Plus ya que, exceptuando las imágenes de archivo que se especifican y las canciones de autores ajenos a nosotros, el resto de imágenes y sonidos sí que permiten su modificación pero debes consultar cada caso por separado.</p> 
					<p>Lo que puedes hacer: COPIARLO y EXHIBIRLO</p>
					<p>Lo que debes hacer: Citarnos siempre como autores de la obra original (indicando como origen “El Cosmonauta” y la URL “cosmonautexperience.com”)</p>
					<p>Lo que no puedes hacer: Tener lucro (sin consultarnos antes) y/o crear obras derivadas utilizando el material.</p>
					<p>PERO, la inclusión del PLUS al final de la licencia indica que hay algunos usos adicionales que sí permitimos.</p>
					<p>Aquí tienes una guía de licencias de cada webisodio (los timings se corresponden a los webisodios publicados en la página web http://cosmonautexperience.com):</p>

					<h4>1. ZORRO</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>2. THE REAL STAR CITY</h4>
					<p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
					<p>PLUS</p>
					<p>Puedes realizar obra derivada tomando el episodio como base excluyendo las imágenes de archivo (en las que aparece Leon Ockenden, el actor que interpreta a Stas). La música es una pieza original de Remate con licencia by-sa-nc.</p>
					<p>Recuerda que la obra derivada que realices se sujeta a la licencia BY NC SA.</p>
					
					<h4>3. THE ICE</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>4. SECUENCIAS DE INTRO / OPENINGS</h4>
					<p><p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
					<p>PLUS</p>
					<p>Puedes realizar obra derivada tomando el episodio como base excluyendo los temas musicales del álbum “Insula Poética” de Joan Valent (Copyright Warner Music) que suenan del minuto 04.00 al minuto 05.07 y del minuto 05.30 al 07.10 y el tema musical de “El Espejo” (Zerkalo) compuesto por Edward Artemyev (Copyright Edward Artemyev), que suena del minuto 07.58 al final.</p>
					<p>Recuerda que la obra derivada que realices se sujeta a la licencia BY NC SA.</p>
					
					<h4>5. S064</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>6. LOS SUEÑOS DEL COSMONAUTA IV</h4>
					<p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
					<p>PLUS</p>
					<p>Puedes realizar obra derivada tomando el episodio como base excluyendo el tema musical “Freeze Frames” de Biosphere (Copyright 2001 Touch Records) que suena de 00.09 al final del episodio.</p>
					<p>Recuerda que la obra derivada que realices se sujeta a la licencia BY NC SA.</p>
					
					<h4>7. LOS SUEÑOS DEL COSMONAUTA III</h4>
					<p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
					<p>PLUS</p>
					<p>Puedes realizar obra derivada tomando el episodio como base excluyendo lasimágenes del making of de “Noches Transarmónica”s propiedad de Victor Berlín (del minuto 00.09 al minuto 2.30)</p>
					
					<h4>8. LOS SUEÑOS DEL COSMONAUTA II</h4>
					<p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
					<p>PLUS</p>
					<p>Puedes realizar obra derivada tomando el episodio como base excluyendo el tema musical “Shakuntala” de Joan Valent (Copyright Warner Music) que suena del minuto 00.10 al minuto 01.08</p>
					<p>Recuerda que la obra derivada que realices se sujeta a la licencia BY NC SA.</p>
					
					<h4>9. LOS SUEÑOS DEL COSMONAUTA I</h4>
					<p>La licencia es BY ND NC Plus. Reconocimiento – NoComercial – SinObraDerivada 3.0 (by-nc-nd) PLUS</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (el rollo de créditos final). No dispones de la totalidad del episodio para realizar obra derivada (de ahí el “Sin Obra Derivada”), sólo de parte (de ahí el “Plus”).</p>
					<p>PLUS</p>
					<p>Puedes realizar obra derivada tomando el episodio como base excluyendo el tema musical “Son Brull” de Joan Valent (Copyright Warner Music) que suena del minuto 00.08 al minuto 02.10</p>
					
					<h4>10. I DON’T WANT YOU TO GO</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>11. FROM REAL TO FILM II</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com * Tema musical “Looking for Light” de Sergio Moreno, BY SA NC) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>12. EXPLOSIÓN</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>13. BURIAL</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>14. ANDREI & KAMANIN</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>15. A CIEGAS</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>16. WE SALUTE YOU</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>17. PLANO PAJA</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>18. ON THE EDGE OF A CLIFF</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>19. MORTADELO</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>20. GAVIOTAS / SEAGULLS</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com * Tema musical “Thereminimal” de Migle, BY SA NC) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>21. EYES LIKE SPANNERS</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com) y licencies las obras futuras como BY NC SA.</p>
					
					<h4>22. DANCE LIKE NOBODY IS WATCHING</h4>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com) y licencies las obras futuras como BY NC SA.</p>

          <h3>4. Contenidos adicionales</h3>
          <p>(guiones, fotografías, textos, imágenes de promoción, póster, webisodios y otros contenidos) a no ser que se especifique lo contrario, todos operan bajo la licencia Creative Commons Reconocimiento – CompartirIgual – NoComercial 3.0 (by-nc-nd)</p> 

          <h3>5. VIDEOINTRO FOR THE FILM BY WATERGUN</h3>
					<p>La licencia es BY NC SA. Reconocimiento – NoComercial - CompartirIgual 3.0 (by-nc-sa)</p>
					<p>Puedes copiarlo y exhibirlo (sin hacer uso lucrativo) y siempre que mantengas la acreditación de los autores originales (“El Cosmonauta” / “The Cosmonaut” URL: cosmonautexperience.com) y licencies las obras futuras como BY NC SA. El tema musical es un tema original licenciado BY SA NC. Las imágenes de fans de “El Cosmonauta” son propiedad de sus respectivos dueños y se reproducen aquí con fines documentales.</p>

        </div>
      </article>
    </div>
  </div>
</section>

<!-- Footer-->
<footer class="terminos">
  <div class="foot-container">
    <div class="fullscreen-adp">
    </div>
  </div>
</footer>